{% if paginate.pages > 1 %}
    <nav class="text-white flex w-full flex-wrap justify-center items-center text-base mx-auto">
        {% if paginate.previous.is_link %}
            <a href="{{paginate.previous.url}}" class="cursor-pointer hover:bg-green-600 mr-5 bg-green-500 px-4 py-2 hover:text-gray-900 rounded">{{paginate.previous.title}}</a>
        {% endif %}

        {% for part in paginate.parts %}
            {% if part.is_link %}
                <a href="{{part.url}}" class="cursor-pointer hover:bg-green-600 mr-5 bg-green-500 px-4 py-2 hover:text-gray-900 rounded">{{part.title}}</a>
            {% else %}
                <a class="cursor-text mr-5 bg-gray-300 px-4 py-2 rounded">{{part.title}}</a>
            {% endif %}
        {% endfor %}
        {% if paginate.next.is_link %}
            <a href="{{paginate.next.url}}" class="cursor-pointer hover:bg-green-600 mr-5 bg-green-500 px-4 py-2 hover:text-gray-900 rounded">{{paginate.next.title}}</a>
        {% endif %}
    </nav>
{% endif %}