{% assign search_margin = 'ml-auto' %}

<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <span class="ml-3 text-xl">Shopify Theme</span>
        </a>
        {% render 'search-form', search_margin:search_margin %}
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            {% for link in linklists.main-menu.links %}
                {% assign child_list_handle =
      link.title | handleize %}
                {% if linklists[child_list_handle].links !=
      blank %}

                    <a class="font-medium mr-5 hover:text-gray-900" href="{{ link.url }}">{{ link.title }}</a>

                    [
                    {% for childlink in linklists[child_list_handle].links %}

                        <a class="font-medium mr-5 hover:text-gray-900" href="{{ childlink.url }}">
                            {{ childlink.title | escape }}
                        </a>

                    {% endfor %}]
                {% else %}

                    <a class="font-medium mr-5 hover:text-gray-900" href="{{ link.url }}">{{ link.title}}</a>
                {% endif %}
            {% endfor %}
            <a class="font-medium mr-5 hover:text-gray-900" href="\cart">Cart <span id="numberOfCartItems" class="text-white px-2 py-1 bg-red-500 rounded-full">0</span></a>
        </nav>
        {% if shop.customer_accounts_enabled %}
            {% if customer %}
                <a class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0 " href="{{routes.account_url}}">Account</a>
                <a class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0 " href="{{routes.account_logout_url}}">Logout</a>
            {% else %}
                <a class="inline-flex items-center bg-green-500 border-0 py-1 px-3 focus:outline-none hover:bg-green-600 text-white rounded text-base mt-4 md:mt-0 mr-1" href="{{routes.account_login_url}}">Login</a>
                <a class="inline-flex items-center bg-green-500 border-0 py-1 px-3 focus:outline-none hover:bg-green-600 text-white rounded text-base mt-4 md:mt-0 " href="{{routes.account_register_url}}">Register</a>
            {% endif %}
        {% endif %}
    </div>
</header>
